<!-- Foto -->
<div class="row section-content align-items-start">
	<div class="col-4 col-md-3">
		<h4 class="titoletto-form">FOTO</h4>
	</div>
	<div class="col-8 col-md-9">
		<div class="wrapper-photo">
		</div>
	</div>
	<div class="col-12">
		<form class="md-form">
			<div class="file-field">
				<div class="btn btn-sm btn-outline-primary btn-rounded waves-effect float-left">
					<span>Upload file <i class="fa fa-cloud-upload-alt ml-3" aria-hidden="true"></i></span>
					<input type="file" id="photo" name="photo" accept="image/*">
				</div>
				<div class="file-path-wrapper">
					<input id="photo-validate" class="file-path validate" type="text" readonly placeholder="Carica la tua foto">
				</div>
			</div>
		</form>
	</div>
</div>