<div class="row section-content align-items-start">
	<div class="col-12 col-md-4 col-lg-3">
		<h4>LINGUE STRANIERE</h4>
	</div>
	<div class="col-12 col-md-8 col-lg-9">

		<div class="container">
			<div class="row">
				<div class="col-12 col-scrollable">

					<form novalidate [formGroup]="LSForm" (ngSubmit)="salvaLS()" class="mt-4 mb-5">

						<div class="form-group" formArrayName="lingueS">

							<div [formGroupName]="i" *ngFor="let linguaS of lingueS.controls; let i=index;first as first;" class="box-form">

								<h2>Lingua Straniera {{ i + 1}}
									<button type="button" 
										class="btn btn-outline-primary btn-sm" 
										*ngIf="linguaS.valid && !first"
										(click)="rimuoviLingua(i)">
										Rimuovi lingua
									</button>
								</h2>

								<div class="form-group">
									<label for="">Lingua</label>
									<select class="form-control" formControlName="lingua">
										<option value="default">Seleziona dalla lista</option>
										<option [value]="linguaCurrent.name" *ngFor="let linguaCurrent of lingueList">{{ linguaCurrent.name }}
										</option>
									</select>
								</div>

								<div class="form-group col-md-12">
									<h4>Autovalutazione</h4>
								</div>
								<div class="form-group p-4" style="border:1px solid lightgrey;background:white;">
									<p>COMPRENSIONE</p>
									<div class="">
										<i class="fa fa-headphones input-prefix mr-4"></i>
										<select class="form-control" formControlName="comprensione_ascolto">
											<option value="" disabled selected>Ascolto - Seleziona dalla lista</option>
											<option *ngFor="let livello of livelli" [value]="livello.id">{{ livello.name }}</option>
										</select>
									</div>
									<div class="">
										<i class="fa fa-headphones input-prefix mr-4"></i>
										<select class="form-control" formControlName="comprensione_lettura">
											<option value="" disabled selected>Lettura - Seleziona dalla lista</option>
											<option *ngFor="let livello of livelli" [value]="livello.id">{{ livello.name }}</option>
										</select>
									</div>

									<p class="mt-3">PARLATO</p>
									<div class="">
										<i class="fa fa-headphones input-prefix mr-4"></i>
										<select class="form-control" formControlName="parlato_interazione">
											<option value="" disabled selected>Ascolto - Seleziona dalla lista</option>
											<option *ngFor="let livello of livelli" [value]="livello.id">{{ livello.name }}</option>
										</select>
									</div>
									<div class="">
										<i class="fa fa-headphones input-prefix mr-4"></i>
										<select class="form-control" formControlName="parlato_orale">
											<option value="" disabled selected>Lettura - Seleziona dalla lista</option>
											<option *ngFor="let livello of livelli" [value]="livello.id">{{ livello.name }}</option>
										</select>
									</div>

									<p class="mt-3">PRODUZIONE SCRITTA</p>
									<div class="">
										<i class="fa fa-headphones input-prefix mr-4"></i>
										<select class="form-control" formControlName="scritto">
											<option value="" disabled selected>Ascolto - Seleziona dalla lista</option>
											<option *ngFor="let livello of livelli" [value]="livello.id">{{ livello.name }}</option>
										</select>
									</div>

								</div>

								
								<div class="form-group col-md-12">
									<h4>Diploma(i) o certificato(i)</h4>
								</div>
								<div class="form-group" formArrayName="diplomi">
									<label class="w-100">Sito web / Blog / Linkedin</label>
									<div class="form-row" *ngFor="let diploma of diplomi(i).controls; let j=index">
										<div class="form-group col-md-8">
											<input type="text" class="form-control" [formControlName]="j" placeholder="Master in spagnolo">
										</div>
										<div class="form-group col-md-4">
											<button type="button" class="btn btn-outline-primary btn-sm" *ngIf="diploma.valid" (click)="rimuoviDiploma(i,j)">
												Rimuovi diploma
											</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<button type="button" class="btn btn-outline-primary btn-sm" (click)="aggiungiDiploma(i)">
										Aggiungi nuovo diploma
									</button>
								</div>


							</div>
						</div>

						<div class="form-group">
							<button type="button" class="btn btn-outline-primary btn-sm" *ngIf="lingueS.valid"
								(click)="aggiungiLingua()">
								Aggiungi nuova lingua
							</button>
						</div>

						<button type="submit" [disabled]="LSForm.invalid" class="btn btn-primary">Salva</button>

					</form>
					<pre><code>{{ LSForm.value | json }}</code></pre>


				</div>
			</div>
		</div>

	</div>
	<div class="col-12 col-md-9" *ngIf="!modifica">
		<div class="d-flex justify-content-left mt-2">
			<button type="button" class="btn btn-sm btn-outline-primary">
				<i class="fa fa-edit"></i> Modificare
			</button>
		</div>
	</div>
</div>
