<!-- INFORMAZIONI PERSONALI -->
<div class="row section-content align-items-start">
	<div class="col-12 col-md-4 col-lg-3">
		<h4 class="titoletto-form">INFORMAZIONI PERSONALI</h4>
	</div>
	<div class="col-12 col-md-8 col-lg-9">

		<button id="IPButtonCompilare" type="button" class="btn btn-sm btn-outline-primary btn-rounded waves-effect" (click)="openModal()">
			<i class="fa fa-plus-circle"></i> Compilare
		</button>

		<div class="">
			<ul class="list-group">
				<li id="ViewIPNomeCognome" class="list-group-item">
				</li>
				<li id="ViewIPIndirizzo" class="list-group-item">
				</li>
				<li id="ViewIPTelefono" class="list-group-item">
				</li>
				<li id="ViewIPEmail" class="list-group-item">
				</li>
				<li id="ViewIPSito" class="list-group-item">
				</li>
				<li id="ViewIPSesso" class="list-group-item">
				</li>
				<li id="ViewIPDataNascita" class="list-group-item">
				</li>
				<li id="ViewIPNazionalita" class="list-group-item">
				</li>
			</ul>
		</div>
	</div>
	<div class="col-12 col-md-9">
		<div class="d-flex justify-content-left mt-2">
			<button id="IPButtonModificare" type="button" class="btn btn-sm btn-outline-primary btn-rounded waves-effect">
				<i class="fa fa-edit"></i> Modificare
			</button>
		</div>
	</div>
</div>
